/Assignment 4/Assignment 4/ForestLibrary/bin/
/Assignment 4/Assignment 4/ForestLibrary/obj/
/Assignment 4/Assignment 4/obj
/Assignment 4/Assignment 4/ForestMVC/obj/
/Assignment 4/Assignment 4/ForestMVC/bin/
/Assignment 4/Assignment 4/ForestMVC/wwwroot/
/Assignment 4/
/Assignment 5/Assignment 5/Assignment 5/obj/
/Assignment 5/Assignment 5/Assignment 5/bin/
/Assignment 5/Assignment 5/Assignment5WebApi/bin/
/Assignment 5/Assignment 5/Assignment5WebApi/obj/
/Assignment 5/Assignment 5/Assignment5Library/bin/
/Assignment 5/Assignment 5/Assignment5Library/obj/
/Assignment 6/Assignment 6/Assignment 6/bin/
/Assignment 6/Assignment 6/Assignment 6/obj/
/Assignment 6/Assignment 6/Assignment 6/.idea/
/Assignment 6/Assignment 6/Assignment 6/.vs/
/Assignment 6/Assignment 6/Assignment6Wapi/bin/
/Assignment 6/Assignment 6/Assignment 7 Models/bin/
/Assignment 6/Assignment 6/Assignment 7 Models/obj/
/Assignment 6/Assignment 6/Assignment6Wapi/obj/
/Assignment 6/Assignment 6/Assignment6Wapi/bin/
/Assignment7/Assignment7/obj/
/Assignment7/Assignment7/bin/
/Assignment7/.idea/
/Assignment7/Assignment7Wapi/bin/
/Assignment7/Assignment7Wapi/obj/
/Assignment7/Assignment7Models/bin/
/Assignment7/Assignment7Models/obj/
/Assignment8/.idea/
/Assignment8/Assignment8/bin/
/Assignment8/Assignment8/obj/