/Assignment 4/Assignment 4/ForestLibrary/bin/
/Assignment 4/Assignment 4/ForestLibrary/obj/
/Assignment 4/Assignment 4/obj
/Assignment 4/Assignment 4/ForestMVC/obj/
/Assignment 4/Assignment 4/ForestMVC/bin/
/Assignment 4/Assignment 4/ForestMVC/wwwroot/
/Assignment 5/Assignment 5/Assignment 5/obj/
/Assignment 5/Assignment 5/Assignment 5/bin/
/Assignment 5/Assignment 5/Assignment5WebApi/bin/
/Assignment 5/Assignment 5/Assignment5WebApi/obj/
/Assignment 5/Assignment 5/Assignment5Library/bin/
/Assignment 5/Assignment 5/Assignment5Library/obj/
