@inherits LayoutComponentBase

<header>
    <a class="btn btn-primary m-1" href="Index">Home</a>
    <a class="btn btn-primary m-1" href="Customers">Customers</a>
    <a class="btn btn-primary m-1" href="Products">Products</a>
    <a class="btn btn-primary m-1" href="Orders">Orders</a>
</header>

<main>
    @Body
</main>