@page "/"
@page "/Index"

<h1>Choose Customer</h1>
<form >
    <div class="form-group m-2">
        <label class="control-label">Customer:</label>
        <select class="form-control" @bind="CustomerId">
            <option value="">Select a Customer...</option>
            <option value="Test1">Test 1</option>
            <option value="Test2">Test 2</option>
        </select>
    </div>
    <div class="form-group m-2">
        <a class="btn btn-primary" href="/PointOfSales/@CustomerId">Go</a>
    </div>
</form>

@code
{
    public string? CustomerId { get; set; }
    
}
